- const API_KEY = self.htmlWebpackPlugin.options.data;
doctype html
html(lang='ja')
  head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible' content='ie=edge')
    title TypeScriptを理解する
    script(src=`https://maps.googleapis.com/maps/api/js?key=${API_KEY}` async)
    link(rel='stylesheet' href='app.css')
  body
    #map
      p 住所を入力してください。
    form
      input#address(type='text')
      button(type='submit') 検索